<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}"/>
</head>
<body >
<div style="margin-top: 40px; ">
    <h1 style="text-align: center">Tableau des Reservations</h1>
</div>


<h3 th:text="'La date est : ' + ${date}"></h3>

<div th:with="someVariable=${iterator}">

    <div class="row">
        <div class="col-2" th:each="t:${horaire.terrains}">
            <h2 th:text="${t.nomTerrain}"></h2>
            <table border="1px">


                <!--<a th:text="${h}" th:href="@{addResa(heure=${h} , terrain=${t.id} ,date=${date},date2=${index.index+1}, listeHeures = ${heures} )}"></a>-->



                <tr th:each="h,index : ${heures.subList(0,heures.size()-1)}"  >
                    <td>
                        <!--     <p th:text="${listeDatesResa.contains(h) && listeResa.contains(t.getId()) }? 'egal' : 'not egal'"></p> -->


                        <th:block th:each="resa:${reservations}">


                            <th:block th:if="${resa.dateReservation eq date && resa.heureDebut eq h && t.id eq resa.terrain.id}"
                                      th:with="iterator=${iterator+1}">


                                <p>reserve</p>
                                <a th:if="${resa.utilisateur.id eq session.session.id}" th:text="'Annuler'" th:href="@{cancelResa(idResa=${resa.getId()})}"></a>

                               <p th:if="${c}"></p>



                                <p th:hidden="${iterator+1}">
                            </th:block>
                        </th:block>



                        <th:block th:if="${iterator eq 0}">



                            <a th:text="${h}"
                               th:href="@{addResa(heure=${h} , terrain=${t.id} ,date=${date}, listeHeures = ${heures},idUtilisateur= ${session.session.id} ,optionalOrReservation=1 )}"></a>
                        </th:block>

                    </td>

                </tr>
            </table>
        </div>

    </div>
</div>

<div class="container">
    <ul class=" nav nav-pills">
        <li th:each=" c:${compteur}">
            <a th:text="${c}" th:href="@{tableau(page=${c})}"> </a>
        </li>
    </ul>

</div>


</body>
</html>