<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link  rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/formHoraire.css" th:href="@{/css/formHoraire.css}"/>
</head>
<body>


<div>
    <h1>Ajouter Horaire</h1>
</div>

<div class="container">
    <form id="contact" th:action="@{update}" method="get" th:object="${tableau}" >
        <h3>Ajouter votre horaire</h3>

        <fieldset>
            <input placeholder="id" type="hidden" th:field="*{id}" tabindex="1" required autofocus>

        </fieldset>

        <fieldset>
            <span>Nombre des jours</span>
            <input placeholder="l'heure de début" type="number" th:field="*{nombreJours}" tabindex="1" required autofocus>
            <span th:if="${#fields.hasErrors('nombreJours')}" th:errors="*{nombreJours}"></span>
        </fieldset>
        <fieldset>
            <input placeholder="l'heure de fin" type="text" th:field="*{nomTableau}" tabindex="2" required>
            <span th:if="${#fields.hasErrors('nombreJours')}" th:errors="*{nomTableau}"></span>
        </fieldset>

        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Modifier</button>
        </fieldset>

    </form>

</div>
</body>
</html>