<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/cssHoraire.css" th:href="@{/css/cssHoraire.css}"/>
</head>
<body>

<div class="container">
    <div class="row">



        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Liste Tableaux</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <a th:href="@{form}">Creer nouveau </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                           <th>Actions</th>
                            <th>id</th>
                            <th>Nombre Jours</th>
                            <th>nom Tableau</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each=" tab: ${liste}">
                            <td align="center">
                                <a th:href="@{delete(id= ${tab.id})}" >supprimer</a> <br>
                                <a th:href="@{edit(id=${tab.id})}">modifier</a>
                                <a th:href="@{attribuer(id=${tab.id})}">Attribuer Tableau</a>
                            </td>
                            <td th:text="${tab.id}"></td>
                            <td th:text="${tab.nombreJours}"></td>
                            <td th:text="${tab.nomTableau}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>


        </div></div></div>

</div>
</body>
</html>