<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link  rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/cssHoraire.css.css" th:href="@{/css/cssHoraire.css}"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

</head>
<body>

<h1>
    Liste Horaires
</h1>



<div class="container">
    <div class="row">



        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Liste Horaires Fixes</h3>
                        </div>

                        <div class="col col-xs-6 text-right">

                             <!-- <a th:href="@{form}">Ajouter Horaire</a> <br>-->
                          <!--  <a th:href="@{horaireSpecial}">Ajouter Horaire Special</a> -->
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th><em class="fa fa-cog"></em></th>
                            <th class="hidden-xs">ID</th>
                            <th>Heure Debut</th>
                            <th>Heure Fin</th>
                            <th>Jour</th>
                            <th>Terrains</th>
                            <th>Duree minimale reservation minutes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="listeHoraires:${liste}">

                               <th:block th:if="${listeHoraires.horaireFix !=null}">
                                   <td align="center">


                                       <a th:href="@{edit(id=${listeHoraires.getId()})}">edit horaire/</a><br> <br>
                                       <a th:href="@{editTerrain(id=${listeHoraires.getId()})}">Attribuer Terrain/</a> <br> <br>
                                       <a th:href="@{editMesure(id=${listeHoraires.getId()})}">Attribuer Mesure/</a> <br> <br>

                                   </td>
                                   <td class="hidden-xs" th:text="${listeHoraires.id}"></td>
                                   <td th:text="${listeHoraires.heureDebut}"></td>
                                   <td th:text="${listeHoraires.heureFin}"></td>
                                   <td th:text="${listeHoraires.nom}"></td>
                                   <td th:text="${listeHoraires.terrains}"></td>
                                   <td th:text="${listeHoraires.mesureInterval.mesure_interval}"></td>
                               </th:block>

                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">

                </div>
            </div>

        </div></div></div>






<div class="container">
    <div class="row">



        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Liste Horaires Speciales</h3>
                        </div>
                        <div class="col col-xs-6 text-right">

                         <!--   <a th:href="@{form}">Ajouter Horaire</a> <br> -->
                            <a th:href="@{horaireSpecial}">Ajouter Horaire Special</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th><em class="fa fa-cog"></em></th>
                            <th class="hidden-xs">ID</th>
                            <th>Heure Debut</th>
                            <th>Heure Fin</th>
                            <th>Nom</th>
                            <th>Terrains</th>
                            <th>Duree minimale reservation minutes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="listeHoraires:${liste}">

                            <th:block th:if="${listeHoraires.horaireFix==null}">
                                <td align="center">


                                    <a th:href="@{edit(id=${listeHoraires.getId()})}">edit horaire/</a><br> <br>
                                    <a th:href="@{editTerrain(id=${listeHoraires.getId()})}">Attribuer Terrain/</a> <br> <br>
                                    <a th:href="@{delete(id=${listeHoraires.getId()})}">supprimer</a> <br> <br>
                                    <a th:href="@{editMesure(id=${listeHoraires.getId()})}">Attribuer Mesure/</a>
                                </td>
                                <td class="hidden-xs" th:text="${listeHoraires.id}"></td>
                                <td th:text="${listeHoraires.heureDebut}"></td>
                                <td th:text="${listeHoraires.heureFin}"></td>
                                <td th:text="${listeHoraires.nom}"></td>
                                <td th:text="${listeHoraires.terrains}"></td>
                                <td th:text="${listeHoraires.mesureInterval.mesure_interval}"></td>
                            </th:block>

                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">

                </div>
            </div>

        </div></div></div>
</body>
</html>