<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Repartition d'age de nos clients</h1>

<div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>




<script type="text/javascript" th:inline="javascript" >
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);



    /*<![CDATA[*/
    var message=new Map();
    var tailleListe= /*[[${tailleListe}]]*/

    message = /*[[${liste}]]*/ 'default';





    /*]]>*/

    // Draw the chart and set the chart values


    // for (i=0; i<tailleListe;i++){
    //     console.log('je suis la'+[Object.keys(message)[i],Object.values(message)[i]])
    // }

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'ages entre 16 et 90 groupés par 10'],
            [Object.keys(message)[0],Object.values(message)[0]],
            [Object.keys(message)[1],Object.values(message)[1]],
                [Object.keys(message)[2],Object.values(message)[2]]

        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {'title':'Ages en pourcent de 16 a 90 ans', 'width':550, 'height':400};

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>

</body>
</html>